*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #e0e0e0;
    color: #1d1d1d;
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}
.container .movie{
    text-align: center;
}
.container .movie .poster .title{
    font-size: 16px;
    font-weight: 600;
}
.container .movie .poster{
    width: 100%;
    margin-bottom:10px;
    border-radius: 15px;
    cursor: pointer;
}
.pagination{
    position: fixed;
    bottom: 0;
    background: #100a1f;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.pagination button{
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    background: #241744;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    transition: .3s ease all;
    border-radius:20px;
}
.pagination button:hover{
    background: rgb(121, 228, 121);
}
@media (max-width:662px){
  .container{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:507px){
  .container{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:370px){
  .container{
    grid-template-columns: repeat(1,1fr);
  }
}